.grid { 
  display: grid;
 
 grid-template-areas:
"header header header"
"nav content content";
 grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0;
  
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: nav;
}

header.header {
  background-color: #00b924;
}
.app-content {
  background-color: #005fff;
  grid-area: content;
}

.hello{
  color:lawngreen !important;
}